<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myrehabilitaion">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="健步飛"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CardInformation"></activity>
        <activity android:name=".RecordMain" />
        <activity android:name=".InforCard" />
        <activity android:name=".Main" />
        <activity android:name=".MainActivity22_1" />
        <activity android:name=".MainActivity22_2" />
        <activity android:name=".RegisterationPage" />
        <activity android:name=".FragmentHomePage.StartRecord" />
        <activity android:name=".UsersDbOpenHelper" />
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>